            </div>
        </div>

        <div class="container footer">
            <hr>

            <!-- Footer -->
            <footer class="text-center">
                <div class="row">
                    <div class="col-lg-12">
                        <p>Copyright &copy; {global.yearCreated} {global.companyName} | All rights reserved</p>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <script src="public/js/jquery.min.js"></script>
    <script src="public/js/bootstrap.min.js"></script>
    <script src="public/js/app.js"></script>
</body>
</html>